# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
plugins/
bower.json
www/
package.json
scss/
config.xml
platforms/ios/
gulpfile.js
hooks/
resources/

